body {
  background-color: blue;
}
h1 {
  color: rgb(0, 0, 255);
}
h1 {
  font-family: "Gloock", serif;
}
table,
th,
td {
  border: 1px solid rgb(8, 0, 255);
}
div {
  background-color: rgb(255, 0, 0);
}
#yellow {
  background-color: rgb(190, 168, 0);
}
#ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
}

#li {
  float: left;
}

#li #a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#li #a:hover {
  background-color: rgb(0, 0, 255);
}
#trophies {
  width: 70%;
}
